langchain==0.3.0
langchain-openai==0.3.0
python-dotenv
langchain-google-genai
google-adk 
google-genai
nest-asyncio
langchain-community==0.3.0
langgraph==0.3.0
weaviate-client
requests
crewai==1.3.0
pyautogui
pyperclip